<div class='works'>
  <h2>List of Works </h2>
  <div>
  <% if @works.length > 0 %>
      <ul class='works-list'>
        <% @works.each do |work| %>
          <li class='works-list-item'>
            <strong>
            <%= work.title%>
            <%# link_to passenger.name, passenger_path(passenger)%>
            </strong> 
          </li>
        <% end %>
      </ul>
  <% else %>
    <h3>No Works Found!</h3>
  <% end %>
  </div>
</div>