<div class='works'>
  <h2>List of Works </h2>


  <section>
    <% if @works.length > 0 %>
        <ul>
          <% @works.each do |work| %>
            <li>
              <strong>
              <%=link_to work.title, work_path(work.id) %>
              </strong> 
              <%=work.creator%>
              <%=work.publication_year%>
            </li>
          <% end %>
        </ul>
    <% else %>
      <h3>No Works Found!</h3>
    <% end %>
  </section>
  <footer>
    <%=link_to "Add A New Work", new_work_path%>
  </footer>
</div>