<%= form_with model: @user, url: login_path do |f| %>
  <div class="form-group">
    <%=f.label :user_name, "Username"%>
    <%=f.text_field :user_name, class: "form-control"%>
  </div>
  <%=f.submit "Log In", class: "btn btn-primary"%>
<%end%>